/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/*------------*/

#button-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: grey;
}

.title {
    color: purple;
    text-align: center;
    padding-top: 5%;
}

#grid-generator {
    width: 20%;
    margin: 5% 40%;
    padding: 10px 0;
}

#grid-background {
    max-width: 1200px;
    margin: 0 auto;
    background-color: aqua;
    height: 100vh;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(25% - 5px);
    padding-top: 5%;
}

.grid-element {
    width: 5vw;
    height: 5vw;
    border: 1px solid black;
}